<nav id="pageNav" class="fixed-nav" orig-height="{% if site.layout.page_nav_height %}{{ site.layout.page_nav_height }}{% else %}45{% endif %}">
    <div class="mobile-header">
      <i class="fa fa-bars fa-fw"></i> Menu
    </div>
    <ul class="collapsed">
        {% assign sorted_collections = site.collections | sort: "order" %}
        {% for collection in sorted_collections %}
          {% unless collection.label == 'posts' %}
            {% if collection.label == 'home' %}
              {% assign href = '/' | relative_url %}
            {% else %}
              {% assign href = collection.label | relative_url %}
            {% endif %}
            {% if collection.title %}
              {% assign title = collection.title %}
            {% else %}
              {% assign title = collection.label %}
            {% endif %}
            <li class="page-link t-{{collection.label}}{% if include.currentPage == collection.label %} active{% endif %}">
              <a href="{{ href }}">{{ title }}</a>
            </li>
          {% endunless %}
        {% endfor %}
    </ul>
</nav>
