<nav id="pageNav" class="fixed-nav">
    <ul>
        {% assign sorted_collections = site.collections | sort: "order" %}
        {% for collection in sorted_collections %}
          {% unless collection.label == 'posts' %}
            {% if collection.label == 'home' %}
              {% assign href = '/' | relative_url %}
            {% else %}
              {% assign href = collection.label | relative_url %}
            {% endif %}
            {% if collection.title %}
              {% assign title = collection.title %}
            {% else %}
              {% assign title = collection.label %}
            {% endif %}
            <li class="page-link t-{{collection.label}}{% if include.currentPage == collection.label %} active{% endif %}">
              <a href="{{ href }}">{{ title }}</a>
            </li>
          {% endunless %}
        {% endfor %}
    </ul>
</nav>

{{ include.currentPage | inspect }}