<nav id="pageNav" class="fixed-nav">
    <ul>
        {% assign sorted_collections = site.collections | sort: "order" %}
        {% for collection in sorted_collections %}
          {% unless collection.label == 'posts' %}
            {% if collection.label == 'home' %}
              {% assign href = '/' | relative_url %}
            {% else %}
              {% assign href = collection.label | relative_url %}
            {% endif %}
            <li class="page-link"><a href="{{ href }}">{{collection.label}}</a></li>
          {% endunless %}
        {% endfor %}
    </ul>
</nav>