<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if include.title %}{{ include.title + ' | ' + site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/combo.css" | relative_url }}">
  {% if site.layout.header_font %}
  <link href='//fonts.googleapis.com/css?family={{ site.layout.header_font }}:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
  {% endif %}
  {% if site.layout.body_font and site.layout.body_font != site.layout.header_font %}
  <link href='//fonts.googleapis.com/css?family={{ site.layout.body_font }}:400,300,500,600,700' rel='stylesheet' type='text/css'>
  {% endif %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon | relative_url }}">{% endif %}
  <script src="{{ "/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/site.js" | relative_url }}"></script>
</head>
<body>
  <div id="main">